@import './global/fonts.css';
@import './global/base.css';
@import './global/helpers.css';

body{
    font-family: Mina;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/img/bg.jpg')
}

body.flex {
  overflow: hidden;
}