@import './global/fonts.css';
@import './global/base.css';
@import './global/helpers.css';
@import './global/const.css';

body{
    font-family: Mina;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/img/bg.jpg')
}

body.flex {
  overflow: hidden;
}

.alert {
  color:white;
  padding: 10px;
  font-size: 1.4em;
  position: absolute;
  top:0;
  right:0;
  width: 200px;
  background-color: grey;
}

.alert-success {
  background-color: rgb(15, 122, 15);
}
.alert-danger {
  background-color: rgb(122, 11, 11);
}