.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.clean-btn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.clean-input{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}

/*---flex---*/

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}

.inline-flex {
    display: inline-flex;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}


.align-center {
    align-items: center;
}

.space-around {
    justify-content: space-around;
}
.space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-full {
    flex: 1;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}